app:
  name: libary-application
  environment: development

server:
  host: 0.0.0.0
  port: 8080

logging:
  level: error
  output: stdout

databases:
  - name: primary
    engine: postgres
    uri: postgres://user:password@localhost:5432/main_db?sslmode=disable
    pool:
      max: 10
      min: 2
  - name: analytic
    engine: mysql
    uri: mysql://root:pass@localhost:3306/analytic_db
    pool:
      max: 20
      min: 5
  - name: config
    engine: mongo
    uri: mongodb://localhost:27017/config_db
    pool:
      max: 15
      min: 3

modules:
  - name: category # it will be converted as slug for route
    database: primary
    table: category
    fields:
      - name
    operations:
      - create # POST /api/category/v1
      - read_list # GET /api/category/v1
      - read_single # GET /api/category/v1/:id
      - update # PATCH /api/category/v1/:id
      - delete # DELETE /api/category/v1/:id
